include settings
include tools/tools
include controllers/navbar
include includes
include controllers/horzPanel
//include login
doctype html
html.h100.w100.minH100.minW100(lang="en")
    head
        title="Wifi connection"
        meta(charset="utf-8")
        +cssIncludes
        +jsIncludes

    body.vertContainer.h100.w100.minH100.minW100
        .vertContainer.hsvs




